.leaderboard {
    position: fixed; /* or 'absolute' depending on your needs */
    top: 10px; /* Adjust the top position based on your preference */
    right: 10px; /* Adjust the right position based on your preference */
    color: #007bff;
    padding: 10px;
    border-radius: 5px;
    h1{
        text-align: center;
    }
  }
  