/* Style for the form container */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Style for the image wrapper */
  .form-image {
    border-radius: 20%;
    margin-bottom: 20px; /* Adjust the margin based on your preference */
  }
  
  /* Style for the input wrapper */
  .form-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Style for the answer input */
  .form-input {
    width: 300px; /* Adjust the width based on your preference */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  
  /* Style for the error message */
  .form-error {
    color: red;
    margin-top: 10px;
  }
  